@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#app {
  font-family: 'Josefin Sans', helvetica, sans-serif;
  padding-top: 40px;
  background-color: #242424;
  min-height: 100vh;
  h1 {
    text-transform: uppercase;
    color: $white;
    font-weight: bold;
  }  
}

// Gameboard
.gameboard-wrapper {
  position: relative;
  margin-top: 30px;
  padding-bottom: 80px;
}
.gameboard {
  border-radius: $rounded;
  padding: 16px;
  background-color: $gameboard;
}

// GameRow
.row-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: $gray;
  border: 2px solid $gameboard;
  border-radius: $rounded;
  padding: 8px;
  margin-bottom: 16px;
  transition: all 0.2s ease-in-out;
  &:last-of-type {
    margin-bottom: 0;
  }
  &.active {
    background-color: $white;
    border: 2px solid $black;
  }
}
.row-label {
  top: 3px;
  left: 5px;
}
.guess-spot-wrapper {
  margin-left: 5px;
  padding-right: 20px;
  border-right: $border;
}
.key-spot-wrapper {
  margin-right: 10px;
  padding-left: 20px;
}
.guess-spot,
.key-spot,
.select-spot {
  border: $border;
  border-radius: 50%;
}
.guess-spot {
  width: $guessCircleSize;
  height: $guessCircleSize;
  margin: 10px;
  background-color: $spot;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.key-spot {
  width: $keyCircleSize;
  height: $keyCircleSize;
  margin: 5px;
  background-color: $spot;
  transition: 0.2s all ease-in-out;
}

// GameSelect
.select-wrapper {
  position: fixed;
  top: 118px;
  left: 180px;
  border-radius: $rounded;
  background-color: $gameboard;
  padding: 3px 0;
}
.select-spot {
  width: $guessCircleSize;
  height: $guessCircleSize;
  margin: 10px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.color-1 { background-color: $red; }
.color-2 { background-color: $blue; }
.color-3 { background-color: $white; }
.color-4 { background-color: $black; }
.color-5 { background-color: $green; }
.color-6 { background-color: $yellow; }

.select-wrapper .active {
  border: 6px solid #000;
}

.submit {
  display: none;
  position: fixed;
  top: 118px;
  right: 140px;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: $rounded;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $white;
    color: $black;
  }
  &:focus {
    outline: none;
  }
}