// COLORS
$red: #e82c0c;
$blue: #2739E8;
$white: #fff;
$black: #333;
$green: #39B050;
$yellow: #FFF145;
$gameboard: #ddd;
$empty: #bbb;
$row: #eee;

$border: 2px solid $black;

$guessCircleSize: 50px;
$keyCircleSize: 20px;

$rounded: 5px;